{% schema %}
{
  "name": "Product Accordian Details",
  "settings": [],
  "presets": [
    {
      "name": "Product Accordian Details",
    }
  ]
}
{% endschema %}

<style>
.custom-accordion {
  background-color: #f2f0d9;
  margin-top: 30px;
  margin-bottom: 30px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  position: relative;
  max-width: 100%;
}
.accordion-header strong {
    font-size: 30px;
    padding-left: 5px;
}
.accordion-header {
  background-color: #CBD2B5;
  padding: 15px;
  font-weight: bold;
  color: #50793a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'VVDS Fifties';
}

.accordion-toggle {
  transition: transform 0.3s ease;
}

.accordion-content {
  display: none;
  padding: 20px;
  background-color: #CBD2B5;
  color: #6B8D50;
  font-size: 14px;
  line-height: 1.5;
  font-family: Eczar;
  font-size: 20px;
}


.custom-accordion.open .accordion-content {
  display: block;
}

.custom-accordion.open .accordion-toggle {
  transform: rotate(180deg);
}
</style>
<div class="section-{{ section.id }}">
  <div class="page-width">
<div class="custom-accordion open">
  <div class="accordion-header">
    <strong>PROVENANCE</strong>
    <span class="accordion-toggle">&#x25BC;</span>
  </div>
  <div class="accordion-content">
    {{ product.description | strip_html | truncatewords: 100 }}
   <div class="single-product-cart">
    <form method="post" action="/cart/add">
      <input type="hidden" name="id" value="{{ product.variants.first.id }}">
      <button type="submit" class="button--main cart-button" style="display:none;">Add to cart</button>
    </form>
   </div>
  </div>
</div>
  </div>
</div>
<script>
 /* document.addEventListener('DOMContentLoaded', function() {
    document.querySelectorAll('.custom-accordion').forEach(accordion => {
      accordion.addEventListener('click', () => {
        accordion.classList.toggle('open');
      });
    });
  }); */
</script>



