{% schema %}
{
  "name": "Custom Display Text",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "custom_text",
      "label": "Custom Text",
      "default": "Your custom text goes here"
    }
  ],
  "presets": [
    {
      "name": "Custom Display Text"
    }
  ]
}
{% endschema %}
<div class="page-width">
<div class="custom-text-display">
 {{ section.settings.custom_text }}
</div>
</div>
<style>
.custom-text-display {
    text-align: center;
    padding: 10px 0 0 0;
    font-size: 90px;
    font-family: 'VVDS Fifties';
    text-transform: uppercase;
    color: #6b8d50;
    font-weight: 500;
}
</style>
